@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #1e252b;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.fixed-top {
  top: 10% !important;
}

.red {
  color: red !important;
  text-shadow: 0 0 5px red;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: #FF6E30;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #FDF5FF;
  padding: 12px 28px;
}
.btn:hover {
  background: #f88a5a;
}

.main__title {
  font-weight: 500;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
}
.main__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

@media screen and (min-width: 600px) {
  .btn {
    font-size: 16px;
  }
  .main__title {
    font-size: 50px;
  }
  .main__subtitle {
    font-size: 18px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.navbar__logo {
  font-weight: 600;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__logo + p {
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.navbar__nav {
  display: none;
}
.navbar__nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  opacity: 0.78;
}
.navbar__nav-link:hover {
  opacity: 0.5;
}
.navbar__fixed {
  position: fixed;
  top: -100%;
  left: 0;
  background: url(../../image/brand-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 100;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  border-radius: 50px;
  transition: 0.5s;
}

.dropdown {
  position: relative;
  z-index: 12000;
}
.dropdown:hover i {
  transform: rotate(-270deg);
}
.dropdown:hover .dropdown-content {
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  left: 100%;
  top: 0.5rem;
  background: #283036;
  border-radius: 8px;
  display: none;
}
.dropdown-content p {
  margin: 0;
  padding: 10px 30px;
}
.dropdown-content p:hover {
  background: #FF6E30;
}
.dropdown-content p:nth-child(1) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.dropdown-content p:nth-child(3) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu-btn {
  position: fixed;
  right: 5%;
  background: #1e252b;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 100;
  width: 50px;
  height: 50px;
}
.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before, .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home__search-form {
  width: 100%;
  height: 60px;
  display: flex;
  background: #283036;
  position: relative;
  border-radius: 8px;
  margin-top: 60px;
}
.home__search-form input {
  width: 100%;
  height: 100%;
  background: #283036;
  border: 0;
  outline: none;
  font-size: 14px;
}
.home__search-form label {
  font-size: 25px;
  margin: auto 20px;
  color: #7aa4ca;
}
.home__search-form .btn {
  margin: 8px;
}
.home__right img {
  width: 100%;
}

.social-networks {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
.social-networks__link {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.78);
}
.social-networks__link:hover {
  color: #FF6E30;
}

@media screen and (min-width: 900px) {
  .navbar__nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .dropdown:hover i {
    transform: rotate(180deg);
  }
  .dropdown-content {
    left: 0;
    top: 1.5rem;
  }
  .menu-btn {
    display: none;
  }
  .home {
    flex-direction: row;
  }
  .home__search-form {
    width: 80%;
  }
  .home__search-form input {
    font-size: 19px;
  }
  .home__right img {
    width: 589px;
    height: 568px;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;
  }
}
@media screen and (min-width: 700px) {
  .container {
    width: 700px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    width: 900px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}
.collection__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
.collection__grid + div {
  text-align: center;
  margin-top: 60px;
}
.collection__grid + div a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #FF6E30;
  padding: 10px 30px;
  display: inline-block;
}
.collection__grid + div a:hover {
  background-color: #FF6E30;
  border: 1px solid #FF6E30;
  color: #fff;
}
.collection__card {
  padding: 20px;
  border-radius: 20px;
}
.collection__card:hover {
  background: url(../../image/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.collection__card-header {
  display: flex;
  gap: 15px;
  align-items: center;
}
.collection__card-header h4 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.78);
}
.collection__card-header p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 165, 55, 0.55);
}
.collection__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection__card-footer i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.78);
  margin-right: 20px;
  cursor: pointer;
}
.collection__card-footer a {
  padding: 10px 30px;
  background: transparent;
  border: none;
  border-radius: 8px;
}
.collection__card-footer a:hover {
  background: #FF6E30;
  color: #fff;
}

.brand {
  background: url(../../image/brand-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  padding: 50px;
  margin-top: 60px;
}
.brand__title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}
.brand__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding-left: 0;
}

.tools {
  margin-top: 100px;
}
.tools__content {
  margin-right: 60px;
}
.tools__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.fa-heart {
  transition: 0.1s;
}
.fa-heart:active {
  transform: scale(0.8);
}

.become {
  margin-top: 60px;
  margin-bottom: 160px;
  text-align: center;
}
.become .home__search-form {
  text-align: center;
  margin: 40px auto;
}

.testimonials__slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.testimonials__slideshow + div {
  text-align: center;
}
.testimonials__slide {
  display: none;
  gap: 120px;
  align-items: center;
  flex-direction: column;
}
.testimonials__wrapper {
  position: relative;
}
.testimonials__wrapper img {
  width: 100%;
}
.testimonials__wrapper + div {
  position: relative;
}
.testimonials__wrapper + div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}
.testimonials__rounded {
  position: absolute;
  left: 0;
  top: 17%;
  z-index: -100;
}
.testimonials__info {
  position: absolute;
  right: 0rem;
  bottom: 2rem;
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 20px 30px 0px;
  overflow-x: hidden;
}
.testimonials__info h4 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
  margin: 0;
}
.testimonials__info p {
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 253, 253, 0.55);
}
.testimonials__quote {
  position: absolute;
  font-family: "Lora";
  left: -2rem;
  top: 2rem;
  overflow-x: hidden;
  transform: scale(19) rotate(20deg);
  z-index: -20;
  background: -webkit-linear-gradient(188.88deg, rgba(252, 252, 252, 0) 20.34%, rgba(255, 255, 255, 0.5) 155.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.testimonials__dot {
  cursor: pointer;
  height: 6px;
  width: 44px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.testimonials__dot:hover, .testimonials__dot.active {
  background-color: #FF6E30;
}
.testimonials__prev, .testimonials__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  user-select: none;
}
.testimonials__prev:hover, .testimonials__next:hover {
  color: #FF6E30;
}
.testimonials__prev:active, .testimonials__next:active {
  transform: scale(0.8);
}
.testimonials__prev {
  left: 0;
}
.testimonials__next {
  right: 0;
}
.testimonials__fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.footer {
  border-top: 1px solid #ccc;
  padding-top: 60px;
}
.footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.footer__info .main__subtitle {
  width: 80%;
}
.footer__list h5 {
  font-weight: 500;
  margin-top: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 600px) {
  .collection__grid {
    grid-template-columns: 1fr 1fr;
  }
  .tools__grid {
    grid-template-columns: 1fr 1fr;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .collection__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .brand__list {
    flex-direction: row;
  }
  .tools {
    display: flex;
  }
  .testimonials__slide {
    flex-direction: row;
  }
  .testimonials__wrapper img {
    width: 392px;
  }
  .testimonials__info h4 {
    font-size: 26px;
  }
  .testimonials__info p {
    font-size: 16px;
  }
  .testimonials__prev, .testimonials__next {
    margin-top: -22px;
  }
  .testimonials__prev {
    left: -3rem;
  }
  .testimonials__next {
    right: -3rem;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
