/* Error: There is no module with the namespace "mixin".
 *    ,
 * 65 | / @include mixin.media-md {
 * 66 | |     body {
 * 67 | |         margin: 50px;
 * 68 | |     }
 * 69 | \ }
 *    '
 *   sass\base\_base.scss 65:1  @use
 *   sass\main.scss 3:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "mixin".\a    \2577 \a 65 \2502  \250c  @include mixin.media-md {\a 66 \2502  \2502      body {\a 67 \2502  \2502          margin: 50px;\a 68 \2502  \2502      }\a 69 \2502  \2514  }\a    \2575 \a   sass\\base\\_base.scss 65:1  @use\a   sass\\main.scss 3:1         root stylesheet';
}
